**/.port_coordination
**/nb-configuration*.xml
**/nbproject/
*.iml
*.pyc
*.swo
*.swp
*~
.DS_STORE
.DS_Store
.checkstyle
.classpath
.fbExcludeFilterFile
.idea/
.metadata/
.port_coordination/
.project
.settings/
/generated/
/logs/
\#*#
dependency-reduced-pom.xml
target/
